body {
  background-color: black;
}

.frame {
  position: relative;
}

.darkroom {}

input[type="text"] {
  height: 20px;
  width: 750px;
  background-color: black;
  border: none;
  border-bottom: 2px solid #4E4C4B;
  color: white;
  font-size: 24px;
  font-family: monospace;
}

input[type="text"]:focus {
  border: none;
  border-bottom: 3px solid green;
  outline: 0;
}

.extraspace {
  margin-top: 10px;
  height: 50px;
  background-color: black;
}

.story {
  position: absolute;
  top: 300px;
  left: 10px;
  color: white;
  height: 200px;
  width: 300px;
  font: bold 16px Helvetica, Sans-Serif;
  //  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}

.actions {
  position: absolute;
  top: 260px;
  left: 10px;
  color: white;
  height: 50px;
  width: 300px;
  font: bold 16px Helvetica, Sans-Serif;
  //  letter-spacing: -1px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  word-wrap: break-word;
}

label {
  color: green;
  text-align: right;
  clear: both;
  font-size: 22px;
  font-family: monospace;
  float: left;
  margin-right: 15px;
  position: absolute;
}
