@font-face {
  font-family: playball;
  src: url("https://fonts.googleapis.com/css?family=Playball");
}

body {
  background-color: black;
}

.frame {
  position: relative;
}

#darkroom {}

input[type="text"] {
  height: 20px;
  width: 750px;
  background-color: black;
  border: none;
  border-bottom: 2px solid #4E4C4B;
  color: white;
  font-size: 24px;
  font-family: monospace;
}

input[type="text"]:focus {
  border: none;
  border-bottom: 3px solid green;
  outline: 0;
}

.extraspace {
  margin-top: 10px;
  height: 50px;
  background-color: black;
}

.story {
  position: absolute;
  top: 250px;
  left: 10px;
  color: white;
  height: 200px;
  width: 300px;
  font: bold 16px Helvetica, Sans-Serif;
  //  letter-spacing: -1px;
  background: rgb(176, 176, 176);
  background: rgba(176, 176, 176, 0.05);
  word-wrap: break-word;
  overflow: auto;
}

.actionsContainer {
  position: absolute;
  top: 470px;
  left: 10px;
  color: white;
  height: 50px;
  width: 300px;
  font: bold 16px Helvetica, Sans-Serif;
  //  letter-spacing: -1px;
  background: rgb(176, 176, 176);
  background: rgba(176, 176, 176, 0.05);
  word-wrap: break-word;
}

.titleText {
  font-family: playball;
  font-size: 18px;
  width: 100%;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
}

label {
  color: green;
  top: 560px;
  text-align: right;
  clear: both;
  font-size: 22px;
  font-family: monospace;
  float: left;
  margin-right: 15px;
  position: absolute;
}

.confused {
  font-family: Agency FB;
  color: red;
  font-size: 15px;
}

.actionoutput {
  font-family: Agency FB;
  color: #ABABAB;
  font-size: 15px;
}

.actionoutput::after {
  content: "...";
}

.foundItems::before {
  content: "You look around and find something that could help you. ";
}

.foundItems::after {
  content: "!";
}

.foundItems {
  color: #ABABAB;
}

::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}
